[submodule "layers/bitbake"]
	path = layers/bitbake
	url = https://git.openembedded.org/bitbake
	branch = master
	shallow = true
[submodule "layers/openembedded-core"]
	path = layers/openembedded-core
	url = https://git.openembedded.org/openembedded-core
	branch = master
	shallow = true
[submodule "layers/meta-yocto"]
	path = layers/meta-yocto
	url = https://git.yoctoproject.org/meta-yocto
	branch = master
	shallow = true
